* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.normalGame {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("./image7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin: 0;
  padding: 0;
}

.upperPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 60px;
}

.pName {
  color: white;
  margin-right: 10px;
}

.btnsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.timer {
  color: white;
}

.restartBtn {
  background-color: red;
  padding: 5px 15px;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 13px;
  height: 40px;
  opacity: 85%;
}

.resIcon {
  width: 20px;
}

.backBtn {
  background-color: orange;
  padding: 5px 15px;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 13px;
  height: 40px;
  opacity: 85%;
}

.backIcon {
  width: 20px;
}
/*start of cards styling*/

.mainCardsDiv {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 180px;
}

.cardsDiv {
  /* flex: 0 0 calc(30% - 5rem); */
  width: 22%;
  height: auto;
  margin: 10px;
  text-align: center;
}

.imgBack {
  border: 2px solid white;
  border-radius: 3px;
  height: 190px;
  width: auto;
  transition: all 0.5s ease-in-out;
}

.imgBack:hover {
  cursor: pointer;
  transform: scale(1.1);
}
